Flask==2.0.2
gunicorn
flask-restful
flask-apispec
langchain==0.0.277
openai
google-search-results
redis
googlemaps
python-dotenv
faiss-cpu
tiktoken
azure-storage-blob
azure-identity
azure-search-documents==11.4.0b8
werkzeug==2.3.4